volumes:
  pg_data:
  static:
  media:
  data:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media
      - ./data:/data/
    depends_on:
      - db

  frontend:
    env_file: .env
    build: ./frontend/
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
    depends_on:
      - backend

  gateway:
    build: ./nginx/
    env_file: .env
    ports:
      - "80:80"
    volumes:
      - static:/static
      - media:/app/media
      - ./docs:/docs
    depends_on:
      - frontend
      - backend
